.swiper-container1,
.swiper-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.swiper-pagination1 {
    display: flex;
    justify-content: center;
    position: absolute;
}

.swiper-pagination1 .swiper-pagination-bullet {
    background-color: #00e0d0;
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2
}

.swiper-pagination1 .swiper-pagination-bullet-active {
    background-color: #00e0d0;
    border: 1px solid transparent;
}

.gallery-thumbs {
    box-sizing: border-box;
    margin: 30px 0 0 0;
    height: auto;
    width: 320px;
    position: static;
}

.gallery-thumbs img {
    height: 100%;
    width: 100%;
}

.gallery-thumbs .swiper-wrapper {
    display: flex;
    align-items: center;
}

.gallery-thumbs .swiper-slide {
    width: 45px;
    height: 45px;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    height: 70px;
    width: 70px;
    opacity: 1;
    margin-right: 20px;
}

.gallery-thumbs .swiper-slide-active img {
    height: 70px;
    width: 70px!important;
}

.swiper-button-next,
.swiper-button-prev {
    top: auto;
    bottom: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: x-large;
    color: #000;
}

.swiper-button-next {
    right: 23%;
}

.swiper-button-prev {
    left: 23%;
}